@page
@model ToDoList.Pages.Admin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ToDoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToDoModel.Email" class="control-label"></label>
                <input asp-for="ToDoModel.Email" class="form-control" />
                <span asp-validation-for="ToDoModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoModel.Title" class="control-label"></label>
                <input asp-for="ToDoModel.Title" class="form-control" />
                <span asp-validation-for="ToDoModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoModel.Description" class="control-label"></label>
                <input asp-for="ToDoModel.Description" class="form-control" />
                <span asp-validation-for="ToDoModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoModel.Added_date" class="control-label"></label>
                <input asp-for="ToDoModel.Added_date" class="form-control" />
                <span asp-validation-for="ToDoModel.Added_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoModel.Due_date" class="control-label"></label>
                <input asp-for="ToDoModel.Due_date" class="form-control" />
                <span asp-validation-for="ToDoModel.Due_date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ToDoModel.Done" /> @Html.DisplayNameFor(model => model.ToDoModel.Done)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ToDoModel.Done_date" class="control-label"></label>
                <input asp-for="ToDoModel.Done_date" class="form-control" />
                <span asp-validation-for="ToDoModel.Done_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
